<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		
		<title>Votre commande sur le site des Soeurs Théière</title>
		
	</head>
	<body>
	
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
        	<tbody>
        		<tr>
        			<td align="center">
        				<!-- Début du conteneur final -->
        				<table cellpadding="0" cellspacing="0">
        					<tr>
        						<td width="640" class="w640">
        							<!-- Tableau avec logo et en-tête -->
        						</td>
        					</tr>
        					
        					<!--  Contenu principal -->
        					<tr>
        						<td width="640" class="w640">
        							<table width="640" cellpadding="0" cellspacing="0">
                                    	<tr>
                                    		<td>
                                    			Commande : {{ order.getReference() }}
                                    		</td>
                                    	</tr>
                                    	
                                    	<!-- Coordonnées d'expédition -->
                                    	<tr>
                                    		<td>
                                    			<table border="0" cellpadding="0" cellspacing="0">
                                    				<thead>
                                        				<tr>
                                        					<th>Vous</th>
                                        					<th>Votre mode de livraison</th>
                                        				</tr>
                                        			</thead>
                                        			
                                        			<tbody>
                                        				<tr>
                                        					<td>
                                        						{{ order.getUser().getName() }}
                                        					</td>
                                        					<td>
                                        						<p>{{ order.getDeliveryAddress() }}</p>
                                        						<ul>
                                        							<li>Livreur : {{ order.getCarrier() }}</li>
                                        							<li>Mode : {{ order.getCarryingMode() }}
                                        						</ul>
                                        					</td>
                                        				</tr>
                                        			</tbody>
                                    			</table>
                                    		</td>
                                    	</tr>
                                    	
                                    	<!--  Produits commandés -->
                                    	<tr>
                                    		<td>
                                    			<table border="1" cellpadding="0" cellspacing="0">
                                    				<thead>
                                    					<tr>
                                    						<td>Libellé</td>
                                    						<td>Quantité</td>
                                    						<td>Prix TTC</td>
                                    					</tr>
                                    				</thead>
                                    				
                                    				<tbody>
                                    					{% for product in order.getBasket() %}
                                    						<tr>
                                    							<td>{{ product.product.title.fr }}</td>
                                    							<td>{{ product.quantity }}</td>
                                    							<td>{{ ((product.priceHT * product.quantity) * (1 + product.product.vat))|number_format(2, ",", " ") }}</td>
                                    						</tr>
                                    					{% endfor %}
                                    				</tbody>
                                    				
                                    				<!-- Total de la facture -->
                                    				<tfoot>
                                    					<tr>
                                    						<td colspan="5">Total à payer (frais de port inclus)</td>
                                    						<td>{{ order.getFullTaxTotal() }}</td>
                                    					</tr>
                                    				</tfoot>
                                    			</table>
                                    		</td>
                                    	</tr>        							
        							</table>
        						</td>
        					</tr>
        					<!-- Fin du contenu principal -->
        					
        					<tr>
        						<td width="640" class="w640">
        							<!-- Tableau avec pied de page -->
        						</td>
        					</tr>        					
        				</table>
        				<!-- Fin du conteneur final -->
        			</td>
        		</tr>
        	</tbody>
        </table>
    </body>
</html>