<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			Commande : {{ order.getReference() }}
		</td>
	</tr>
	
	<!-- Coordonnées d'expédition -->
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0">
				<thead>
    				<tr>
    					<th>Client</th>
    					<th>Mode de livraison</th>
    				</tr>
    			</thead>
    			
    			<tbody>
    				<tr>
    					<td>
    						<p>{{ order.getUser().getName() }}</p>
    						<p>{{ order.getUser().getLogin() }}</p>
    						<p>{{ order.getUser().getPhoneNumber() }}</p>
    					</td>
    					<td>
    						<p>{{ order.getDeliveryAddress() }}</p>

    						<ul>
    							<li>Livreur : {{ order.getCarrier() }}</li>
    							<li>Mode : {{ order.getCarryingMode() }}
    						</ul>
    					</td>
    				</tr>
    			</tbody>
			</table>
		</td>
	</tr>
	
	<!--  Produits commandés -->
	<tr>
		<td>
			<table border="1" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<td>Libellé</td>
						<td>Réf.</td>
						<td>Quantité</td>
						<td>P.U HT</td>
						<td>TVA</td>
						<td>Total H.T.</td>
						<td>Total T.T.C</td>
					</tr>
				</thead>
				
				<tbody>
					{% set totalBasket = 0 %}
					{% set carryingCharge = 0 %}
					{% for product in order.getBasket() %}
						<tr>
							<td>{{ product.product.title.fr }}</td><!-- Libellé du produit -->
							<td>{{ product.product.reference }}</td><!-- Référence du produit -->
							<td>{{ product.quantity }}</td><!-- Quantité commandée -->
							<td>{{ product.priceHT|number_format(2, ",", " ") }}</td><!-- Prix unitaire HT -->
							<td>{{ product.product.vat * 100 }}%</td><!-- Taux de TVA -->
							<td>{{ (product.priceHT * product.quantity)|number_format(2, ",", " ") }}</td><!-- Total HT -->
							<td>{{ ((product.priceHT * product.quantity) * (1 + product.product.vat))|number_format(2, ",", " ") }}</td><!-- Total TTC -->
						</tr>
						{% set totalBasket = totalBasket +  (product.priceHT * product.quantity) * (1 + product.product.vat) %}
					{% endfor %}
				</tbody>
				
				<!-- Total de la facture -->
				<tfoot>
					<tr>
						<td colspan="6">
							Frais de port
						</td>
						<td>
							{{ (order.getFullTaxTotal() - totalBasket)|number_format(2, ",", " ") }}
						</td>
					</tr>
					<tr>
						<td colspan="6">Total</td>
						<td>{{ order.getFullTaxTotal() }}</td>
					</tr>
				</tfoot>
			</table>
		</td>
	</tr>
</table>